@import url('../css/clash-display.css');
@import url('../css/root.css');


body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 500;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}
.theme-shadow{
    box-shadow: var(--box-shadow);
}

/* NAVBAR */
.navbar-nav .nav-link.active{
    color: var(--c-brand);
}

/* IMAGE ZOOM */
.image-zoom{
    position: relative;
    overflow: hidden;
}
.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}
.image-zoom-wrapper img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.navbar{
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}
.navbar-nav .nav-link:hover{
    color: var(--c-brand);
}
.btn-brand{
    background-color: var(--c-brand);
    color: white;
    border-color: var(--c-brand);
}
.btn-download{
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}
.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* Hero */
#hero{
    background: linear-gradient(rgba(var(--c-brand-rgb),0.507), rgba(var(--c-brand-rgb),0.438)),url("../images/hero-1.jpg");
    background-position: center;
    background-size: cover;
}

/* ABOUT */
.about-item{
    row-gap: 30px;
    overflow: hidden;
}

/* SECTION TITLE */
.section-title{
    margin-bottom: 60px;
}
.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}
.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOX */
.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.service:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}
.service:hover h5, .service:hover p{
    color: white;
}
.service:hover .iconbox{
    background-color: rgba(255, 255, 255,0.2);
    color: white;
}

/* COUNTER */
#counter{
    background: linear-gradient(rgba(var(--c-brand-rgb),0.8), rgba(var(--c-brand-rgb),0.8)),url("../images/counter.jpg");
    background-position: center;
    background-size: cover;   
}

/* PORTFOLIO */
.portfolio-items{
    /* column-count: 3; */
    row-gap: 20px;
}
.portfolio-item .iconbox{
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.portfolio-item:hover .iconbox{
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}
.review-head{
    position: relative;
}
.review-head::after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/* TEAM */
.team-member-content{
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 24px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    opacity: 0;
}
.team-member:hover .team-member-content{
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact{
    position: relative;
    z-index: 2;
}
#contact::after{
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb),0.8), rgba(var(--c-brand-rgb),0.8)),url("../images/counter.jpg");
    background-position: center;
    background-size: cover;   
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#contact .form-control,#contact .btn{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
#contact .form-control:focus{
    box-shadow: none;
    border-color: var(--c-brand);
}
#contact .btn{
    font-weight: 600;
}

/* FOOTER */
footer{
    padding-top: 100px;
}
.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,footer p,footer a{
    color: rgba(255, 255, 255, 0.7);
}
footer ul{
    list-style: none;
}
footer li a,.designer-author{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
footer li a:hover,.designer-author:hover{
    color: var(--c-brand);

}
footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255,255,255,0.1);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.social-icons a:not(:last-child){
    margin-right: 10px;
}
.social-icons a:hover{
    background-color: var(--c-brand);
    color: white;
}